<h1 class="page-header">Select a Mouse</h1>
<div>
    <span ng-repeat="mouse in mouses" drag ng-model="mouse">
        <!--a ng-click="setMouse(mouse.name)">
        <img ng-src="{{mouse.img}}">
        &nbsp;&nbsp;
    </a-->
        
        
        
        
        <a ng-click="setMouse(mouse)">
        <div class="col-sm-6 col-md-4 col-lg-3 addShadow">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">{{mouse.Name}}</h4>
                        
                        <div id="daily-visit-chart" style="width:100%; height: 100px; display: block" >
                            <img ng-src="{{mouse.img}}" style="width: 100px; height: 100px;">
                        </div>
                        <ul class="chart-meta clearfix">
                            <li class="pull-left visit-chart-value">Rs {{mouse.Price}}</li>
                            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i>{{mouse.Platform}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
        </a>
        
        
        
    </span>
</div>



