
<div class="col-lg-3">
<section class="panel">
    <div class="panel-body">
        <a href="mail_compose.html"  class="btn btn-compose">
            Compose Mail
        </a>
        <ul class="nav nav-pills nav-stacked mail-nav">
            <li class="active"><a href="mail.html"> <i class="fa fa-inbox"></i> Inbox  <span class="label label-danger pull-right inbox-notification">9</span></a></li>
            <li><a href="#"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
            <li><a href="#"> <i class="fa fa-certificate"></i> Important</a></li>
            <li><a href="#"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">123</span></a></a></li>
            <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
        </ul>
    </div>
</section>
</div>